/*General*/
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    columns: #333;
}
/*Header*/
header{
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}
nav a:hover {
    color: #f39c12;
}
/*Hero section*/
.hero{
    background: url("https://picsum.photos/1200/400?travel") center/cover no-repeat;
    color: white;
    text-align: center;
}
.hero h2{
    font-size: 2.5rem;
}

/*Flex content*/
.container{
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    flex: 1;
    min-width: 250px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.card:hover{
    transform: translateY(-8px);
}
/*Testimonials*/
.testmonials{
    background: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
}
.testmonials h2{
    font-size: 2.5rem;
}
.testmonial-container{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}
.testimonial{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    font-style: italic;
}
/*Call to Action*/
.cta{
    background: #f39c12;
    color: white;
    text-align: center;
    padding: 40px 20px;
}
.cta button{
    padding: 12px 20px;
    border: none;
    background: #2c3e50;
    color:white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}
.cta button:hover{
    background: #34495e;
}
/*Gallery*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.gallery figure{
    text-align: center;
}
.gallery img{
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
}
.gallery img:hover{
    transform: scale(1.05);
}
figcaption{
    margin-top: 8px;
    font-size: 0.9rem;
    color: #555;
}
/*travel quote*/
.quote{
    background: #34495e;
    color:white;
    text-align: center;
    padding: 40px 20px;
    font-style: italic;
}
/*Footer*/
footer{
    background: #2c3e50;
    color: white;
    text-align: center;
    padding:15px;
    margin-top: 20px;
}
/*About*/
.con{
    text-align: center;
    background-color: #34495e;
    padding: 20px 20px;
    color: white;
}
.card1{
    flex: 1;
    min-width: 250px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.quote1{
    background: #34495e;
    color:white;
    text-align: center;
    padding: 40px 20px;
}